
    <img src="{{image}}" class="img-fluid" alt="{{name}}">
    <h2>{{name}}</h2>
    <p >Prix: <span class="text-danger">{{price}} $</span></p>
    <p><span class="">Description: </span>{{description}}</p>
    
